:root {
  --main-accent-color: rgb(241, 133, 9);
  --main-light-color: white;
  --main-dark-color: black;
  --second-light-color: #f2f4f8;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--second-light-color);
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: var(--main-dark-color);
}

button {
  outline: none;
  border: none;
}
